header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0F1624;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 999;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: #FFFF;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
}

nav a:hover {
    font-size: 23px;
    transition: 0.2s;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo p {
    color: white;
    font-family: 'Poppins';
}

#img-links {
    display: flex;
    gap: 15px;
}

#header-container {
    display: flex;
    width: 90%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    position: sticky;
    top: 50px;
    height: 10px;
    background: #fdfdfd;
    transform-origin: 0%;
  }

  @media screen and (max-width: 800px) {
    nav a {
        font-size: 12px;
    }

    nav a:hover {
        font-size: 13px;
        transition: 0.2s;
    }

    nav {
        margin-left: -15px;
    }

    #logo {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    #img-links {
        display: flex;
        gap: 5px;
    }

    .progress-bar {
        top: 0px;
        z-index: 999;
    }
}