#hero {
    width: 100%;
    background-image: linear-gradient(#131b55,#080e41, #020627, #0e144b, #242c7c, #131b55, #080e41);
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

#hero img {
    width: 35%;
    height: 80%;
    border-radius: 50%;
    margin-left: 10px;
}

#hero h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 58px;
    width: 100%;
}

.hero-container {
    width: 60%;
    margin-left: 50px;
}

#hero p {
    color: #BCBCBC;
    font-family: 'Poppins';
    font-style: italic;
    width: 90%;
}

.progress-bar {
    position: fixed;
    top: 10;
    left: 0;
    right: 0;
    height: 10px;
    background: #f2f2f2;
    margin-top: 1%;
  }
  
  @media screen and (max-width: 800px) {

    #hero {
        clear: both;
        display: block;
        margin-bottom: -200px;
    }

    #hero img {
        width: 40%;
        height: 40%;
        border-radius: 50%;
        margin-left: 10px;
        float: left;
        margin-top: 80px;
    }

    #hero h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        color: white;
        font-size: 20px;
        width: 100%;
        margin-left: -10px;
        margin-top: 40px;
    }
    .hero-container {
    width: 52%;
    float: right;
    margin-left: -10px;
    }

    #hero p {
        color: #BCBCBC;
        font-family: 'Poppins';
        font-style: italic;
        width: 90%;
        font-size: 9.9px;
        shape-outside: circle();
        margin-left: -10px;
    }
  }