#hero {
    width: 100%;
    background-image: linear-gradient(#131b55,#080e41, #020627, #0e144b, #242c7c, #131b55, #080e41);
    height: 100vh;
    padding: 100px;
}

#hero h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 58px;
}

#hero p {
    color: #BCBCBC;
    font-family: 'Poppins';
    font-style: italic;
    width: 90%;
}

.progress-bar {
    position: fixed;
    top: 10;
    left: 0;
    right: 0;
    height: 10px;
    background: #f2f2f2;
    margin-top: 1%;
  }
  
  