#projects {
    width: 100%;
    background-image: linear-gradient(#131b55,#080e41, #020627, #0e144b, #242c7c, #131b55, #080e41);
    height: auto;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 125px;
}

#projects-title {
    font-size: 32px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    width: 100%;
    margin-bottom: -60px;
}

#projects p {
    margin-top: -80px;
    margin-bottom: -40px;
    color: #BCBCBC;
    font-style: italic;
    font-family: 'Poppins';
}

#projects-carousel {
    width: 100%;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
}

#projects-carousel img {
    width: 100%;
    height: auto;
    margin-top: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
}

#left-arrow {
    position: absolute;
    top: 250px;
    left: 50px;
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 50px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}

#left-arrow:hover {
    padding: 58px;  
}

#right-arrow {
    position: absolute;
    top: 250px;
    right: 50px;
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}

#right-arrow:hover {
    padding: 58px;
}

#site-link {
    position: absolute;
    top: 450px;
    left: 220px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    color: #242c7c;
    font-family: 'Poppins';
    font-weight: 600;
}

#site-link:hover {
    top: 450px;
    left: 218px;
    transition: 0.2s;
    padding: 18px;
}

#repo-link {
    position: absolute;
    top: 450px;
    right: 220px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    color: #242c7c;
    font-family: 'Poppins';
    font-weight: 600;
}

#repo-link:hover {
    top: 450px;
    right: 218px;
    transition: 0.2s;
    padding: 18px;
}

#site-title {
    position: absolute;
    top: 1000px;
    right: 620px;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    color: #242c7c;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (max-width: 800px) {
    #projects {
    width: 100%;
    background-image: linear-gradient(#131b55,#080e41, #020627, #0e144b, #242c7c, #131b55, #080e41);
    height: auto;
    padding: 30px;
}

#projects-title {
    font-size: 30px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    width: 100%;
    margin-bottom: -60px;
}

#repo-link {
    position: absolute;
    top: 450px;
    right: 220px;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    color: #242c7c;
    font-family: 'Poppins';
    font-weight: 600;
}

#site-link {
    padding: 5px;
}

#right-arrow, #left-arrow {
    padding: 20px;
}
}