.skills {
    padding: 10px;
}

.skills h4 {
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
}

.skills-div1 {
    width: 100%;
    height: 15px;
    background-color: #162950;
    border-radius: 84px;
}